<p>Aller à l'accueil (ancien index)</p>

<!--
<h1>Bienvenue !</h1>
<p>Cherchez un document existant</p>
<#%= form_tag(documents_path, method: :get) do %>
<#%= text_field_tag :keyword %>
<#%= submit_tag 'Search' %>
<#% end %>



<p>Créez un nouveau document</p>

<#%= link_to "Nouveau", "documents/new", class: "btn btn-gradient" %>

 -->

